*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.project

.externalToolBuilders/

*.launch

.classpath

.factorypath

.target

.recommenders/
/target/

.DS_Store
*~.nib

.classpath
.project
.settings/
target/
bin/
settings.xml
*.sw[o|p]

.metadata
bin/
tmp/
*.tmp
*.bak
local.properties
.settings/
.loadpath

mta-assembly
.mta
*.mtar

node/
node_modules
package-lock.json
